# SQL Subqueries - Lab

## Introduction

Now that you've seen how subqueries work, it's time to get some practice writing them! Not all of the queries will require subqueries, but all will be a bit more complex and require some thought and review about aggregates, grouping, ordering, filtering, joins and subqueries. Good luck!  

## Objectives

You will be able to:

* Write subqueries to decompose complex queries

## CRM Database Schema

Once again, here's the schema for the CRM database you'll continue to practice with.

<img src="images/Database-Schema.png" width="600">

## Connect to the Database

As usual, start by importing the necessary packages and connecting to the database **data.sqlite**.

In [6]:
#Your code here; import the necessary packages
import sqlite3
import pandas as pd
con = sqlite3.connect('data.sqlite')
cur = con.cursor()

In [7]:
#Your code here; create the connection and cursor

## Write an Equivalent Query using a Subquery

```SQL
select customerNumber,
       contactLastName,
       contactFirstName
       from customers
       join orders 
       using(customerNumber)
       where orderDate = '2003-01-31';
```

In [8]:
#Your code here; use a subquery. No join will be necessary.
cur.execute("""select customerNumber,
                    contactLastName,
                    contactFirstName
                    from customers
                    where customerNumber in (select customerNumber from orders where orderDate = '2003-01-31');
          """)

df = pd.DataFrame(cur.fetchall())
df.head(5)

     0       1       2
0  141  Freyre  Diego

## Select the Total Number of Orders for Each Product Name

Sort the results by the total number of items sold for that product.

In [11]:
#Your code here

cur.execute("""SELECT productName, count(distinct orderNumber) as Number_of_Orders, sum(quantityOrdered) as UnitsSold
FROM products JOIN orderDetails using(productCode)
GROUP BY 1""")


df2 = pd.DataFrame(cur.fetchall())
df2.head()

                                     0   1     2
0  18th Century Vintage Horse Carriage  28   907
1                18th century schooner  27  1011
2               1900s Vintage Bi-Plane  28   940
3              1900s Vintage Tri-Plane  28  1009
4                    1903 Ford Model A  27   883

## Select the Product Name and the  Total Number of People Who Have Ordered Each Product

Sort the results in descending order.

In [ ]:
#Your code here

## Select the Employee Number, Office Code, City (of the office), and Name (First and Last) of those Employees who Sold Products that Have Been Ordered by Less Then 20 people.

This problem is a bit tougher. To start, think about how you might break the problem up. Be sure that your results only list each employee once.

In [ ]:
#Your code here

## Select the Employee Number, Name (First and Last) and Number of Customers of Employees Who's Customers Have an Average Credit Limit of Over 15K

In [ ]:
#Your code here

## Summary

In this lesson, you got to practice some more complex SQL queries, some of which required subqueries. There's still plenty more SQL to be had though; hope you've been enjoying some of these puzzles!